{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
<div class="main-content">
    <h1>Register</h1>
<div class="input-size">
    {{ form_start(registrationForm) }}
    <h3>{{ form_row(registrationForm.email) }}</h3>
        <h3>{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</h3>

        {{ form_row(registrationForm.agreeTerms) }}
    <div class="foot">
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>

    </div>
</div>

{% endblock %}
